.jumbotron {
  padding-top: 5rem;
  background-color: #eaeaea;
}

.jumbotron h1 {
  margin-top: 130px;
}

#gallery {
  background-color: #eaeaea;
}

section {
  padding-top: 5rem;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-nav {
    margin-top: 10px;
  }
}
