.jumbotron {
  padding-top: 5rem;
  background-color: #eaeaea;
}

/* for icons on navbar */
.sm-icons {
  flex-direction: row;
  margin-left: 10px;
}

.sm-icons .nav-link {
  padding-right: 1em;
}

.sm-icons .nav-link .bi-instagram:hover {
  color: #f72a6e;
}

.sm-icons .nav-link .bi-facebook:hover {
  color: #3b70f4;
}

.sm-icons .nav-link .bi-github:hover {
  color: #ffffff;
}

/* end */

.jumbotron h1 {
  margin-top: 130px;
}

#gallery {
  background-color: #eaeaea;
}

section {
  padding-top: 5rem;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-nav {
    margin-top: 10px;
  }
}
