/* font link */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* font style */
* {
  font-family: "Outfit", sans-serif;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: 1s;
}

.logo:hover {
  rotate: 360deg;
  transition: 2s;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #eaeaea;
}

/* for icons on navbar */
.sm-icons {
  flex-direction: row;
  margin-left: 10px;
}

.sm-icons .nav-link {
  padding-right: 1em;
}

.sm-icons .nav-link .bi-instagram:hover {
  color: #f72a6e;
}

.sm-icons .nav-link .bi-facebook:hover {
  color: #3b70f4;
}

.sm-icons .nav-link .bi-github:hover {
  color: #ffffff;
}

/* end */

.nav-link:hover {
  color: #ffffff; /* Warna highlight saat di-hover */
  transition: 0.3s;
}

.navbar-nav .nav-link,
a {
  margin-right: 11px;
}

.jumbotron h1 {
  margin-top: 130px;
}

#gallery {
  background-color: #eaeaea;
}

.card img {
  filter: grayscale(1);
  transition: 0.7s;
}

.card img:hover {
  filter: grayscale(0);
  transition: 0.7s;
}

section {
  padding-top: 5rem;
}

.subButton {
  background-color: #1d1d1d;
  color: #ffffff;
}

.subButton:hover {
  background-color: #3b70f4;
  color: #ffffff;
}

.bi:hover {
  color: red;
  transition: 1s;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .navbar-nav {
    margin-top: 10px;
  }
}
